div#root > div > div > div > div > div > div:has(img[alt="Banner"]) {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: -23px;
  opacity: 0.3;
  height: 350px;
  position: absolute;
  z-index: -1;
}
div#root > div > div > div > div > div > div:nth-child(2):has(div > div > span), div#root > div > div > div > div > div:first-child:has(div > img[alt="Banner"]), div#root > div > div > div > div > div:nth-child(2):has(div > button) {
  margin-top: 50px;
}
