* {
  --content-max-width: 1200px;
  --sidebar-width: 180px;
}

div#root > div > div > div > div > div > div:has(img[alt="Banner"]) {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
div#root > div > div > aside > div > nav > a > span:last-child, div#root > div > div > aside > div:last-child > button > span {
  display: none;
}
div#root > div > div > aside > div > nav > a, div#root > div > div > aside > div:last-child > button {
  width: 56px;
}
div#root > div > div > aside > div > div {
  flex-direction: column;
  padding: 0 8px;
  width: min-content;
}
.lVAS .mjPV {
  padding: 0;
  width: 36px;
  margin-left: auto;
  margin-right: auto;
}
div#root div > div > aside:first-child {
  left: calc(100vw / 2 - 680px);
}
